# The DataFrame Data Structure

In [2]:
import pandas as pd

purchase_1 = pd.Series({'Name': 'Chris',
                       'Item Purchased': 'Dog Food',
                       'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                       'Item Purchased': 'Kitty Litter',
                       'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                       'Item Purchased': 'Bird Seed',
                       'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3],
                  index = ['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [3]:
df.loc['Store 2']

Cost                      5
Item Purchased    Bird Seed
Name                  Vinod
Name: Store 2, dtype: object

In [4]:
type(df.loc['Store 2'])

pandas.core.series.Series

In [5]:
df.loc['Store 1']

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn

In [6]:
 df.iloc[0]

Cost                  22.5
Item Purchased    Dog Food
Name                 Chris
Name: Store 1, dtype: object

In [7]:
df.iloc[1]

Cost                       2.5
Item Purchased    Kitty Litter
Name                     Kevyn
Name: Store 1, dtype: object

In [8]:
df.iloc[0:1]

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris

In [9]:
df.iloc[0,0]

22.5

In [10]:
df.iloc[0, 0:1]

Cost    22.5
Name: Store 1, dtype: object

In [12]:
df.iloc[0:2, 0:2]

         Cost Item Purchased
Store 1  22.5       Dog Food
Store 1   2.5   Kitty Litter

## In Video Quizz

In [15]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])

df['Item Purchased']

Store 1        Dog Food
Store 1    Kitty Litter
Store 2       Bird Seed
Name: Item Purchased, dtype: object

In [18]:
df.loc['Store 1', 'Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [19]:
df.T

                 Store 1       Store 1    Store 2
Cost                22.5           2.5          5
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Name               Chris         Kevyn      Vinod

In [20]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2       5
Name: Cost, dtype: object

In [21]:
df.loc['Store 1']['Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [22]:
df.loc['Store 1', 'Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [23]:
df.loc[:, ['Name', 'Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

In [25]:
df.drop('Store 1')

         Cost Item Purchased   Name
Store 2   5.0      Bird Seed  Vinod

In [26]:
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [27]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

         Cost Item Purchased   Name
Store 2   5.0      Bird Seed  Vinod

In [29]:
df.drop?

In [33]:
del copy_df['Name']

KeyError: 'Name'

In [34]:
copy_df

         Cost Item Purchased
Store 2   5.0      Bird Seed

In [35]:
df['Location'] = None
df

         Cost Item Purchased   Name Location
Store 1  22.5       Dog Food  Chris     None
Store 1   2.5   Kitty Litter  Kevyn     None
Store 2   5.0      Bird Seed  Vinod     None

## Quiz 2

In [36]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], 
                  index=['Store 1', 'Store 1', 'Store 2'])

df['Cost'] *= 0.8
df

         Cost Item Purchased   Name
Store 1  18.0       Dog Food  Chris
Store 1   2.0   Kitty Litter  Kevyn
Store 2   4.0      Bird Seed  Vinod

In [37]:
print(df)

         Cost Item Purchased   Name
Store 1  18.0       Dog Food  Chris
Store 1   2.0   Kitty Litter  Kevyn
Store 2   4.0      Bird Seed  Vinod