# The Python Programming Language: Dates and Times

In [1]:
import datetime as dt
import time as tm

In [2]:
tm.time()

1482617442.695352

In [5]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2016, 12, 24, 14, 11, 25, 152061)

In [6]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2016, 12, 24, 14, 11, 25)

In [7]:
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(100)

In [8]:
today = dt.date.today()

In [9]:
today - delta

datetime.date(2016, 9, 15)

In [10]:
today > today - delta

True

## The Python Programming Language: Objects and map()

In [11]:
class Person:
    department = 'School of Information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [12]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} lives in {} and works in the department {}'.format(person.name, person.location, person.department))

Christopher Brooks lives in Ann Arbor, MI, USA and works in the department School of Information

In [17]:
person1 = Person()

In [21]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]



cheapest = map(min, store1, store2)
cheapest
list(cheapest)

[9.0, 11.0, 12.34, 2.01]

In [19]:
cheapest[1]

TypeError: 'map' object is not subscriptable

In [22]:
people = ['Dr. Christopher Brooks', 'Dr Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran',
         'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

In [30]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range(10):
            lst.append(i*j)
        return lst
    
times_tables2 = [number1*number2 for number1 in range(10) for number2 in range(10)]

times_tables() == times_tables2

False