In [1]:
x = 1
y = 2
x + y

3

In [2]:
x

1

In [3]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

In [4]:
def add_numbers(x, y, z = None):
    if (z == None):
        return x + y
    else:
        return (x + y + y)
    
print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
5

In [5]:
def add_numbers(x, y, z = None, flag = False):
    if (flag):
        print('Flag is true!')
    if (z == None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag = True))

Flag is true!
3

In [6]:
def add_numbers(x, y):
    return x + y

a = add_numbers
a(1, 2)

3

In [7]:
type('This is a string')

str

In [8]:
type(None)

NoneType

In [9]:
type(1)

int

In [10]:
type(1.0)

float

In [11]:
type(add_numbers)

function

In [15]:
x = (1, 'a', 2, 'b')
type(x)

tuple

In [20]:
x = [1, 'a', 2, 'b']
type(x)

list

In [21]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [22]:
for item in x:
    print(item)

1
a
2
b
3.3

In [23]:
i = 0
while( i != len(x)):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

In [24]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [25]:
[1] * 3

[1, 1, 1]

In [26]:
1 in [1, 2, 3]

True

In [27]:
x = 'This is a string'
print(x[0])
print(x[0:1])
print(x[0:2])

T
T
Th

In [28]:
x[-1]

'g'

In [29]:
x[-4:-2]

'ri'

In [31]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname * 3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

In [34]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0]
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1]
allname = 'Christopher Arthur Hansen Brooks'.split(' ')

print(firstname)
print(lastname)
print(allname)

Christopher
Brooks
['Christopher', 'Arthur', 'Hansen', 'Brooks']

In [35]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks']

'brooksch@umich.edu'

In [36]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

In [37]:
for name in x:
    print(x[name])

None
brooksch@umich.edu
billg@microsoft.com

In [38]:
for email in x.values():
    print(email)

None
brooksch@umich.edu
billg@microsoft.com

In [39]:
for name, email in x.items():
    print(name)
    print(email)

Kevyn Collins-Thompson
None
Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com

In [40]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [41]:
fname

'Christopher'

In [42]:
lname

'Brooks'

In [43]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

In [44]:
print('Chris' + 2)

TypeError: Can't convert 'int' object to str implicitly

In [45]:
print('Chris' + str(2))

Chris2

In [46]:
sales_record = {'price': 3.24,
               'num_items': 4,
               'person': 'Chris'}

sales_statement = '{} bought {} items(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                            sales_record['num_items'],
                            sales_record['price'],
                            sales_record['num_items']*sales_record['price']))

Chris bought 4 items(s) at a price of 3.24 each for a total of 12.96

## Numpy

In [47]:
import numpy as np

### Creating Arrays

In [49]:
mylist = [1, 2, 3]
x = np.array(mylist)
x

array([1, 2, 3])

In [50]:
y = np.array([4, 5, 6])
y

array([4, 5, 6])

In [52]:
m = np.array([[7, 8, 9], [10, 11, 12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

In [53]:
m.shape

(2, 3)

In [55]:
n = np.arange(0, 30, 2)
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [56]:
n = n.reshape(3, 5)
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

In [57]:
o = np.linspace(0, 4, 9)
o

array([ 0. ,  0.5,  1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ])

In [61]:
o.resize(3, 3)
o

array([[ 0. ,  0.5,  1. ],
       [ 1.5,  2. ,  2.5],
       [ 3. ,  3.5,  4. ]])

In [62]:
np.ones((3, 2))

array([[ 1.,  1.],
       [ 1.,  1.],
       [ 1.,  1.]])

In [63]:
np.zeros((2, 3))

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

In [64]:
np.eye(3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

In [65]:
np.diag(y)

array([[4, 0, 0],
       [0, 5, 0],
       [0, 0, 6]])

In [66]:
np.array([1, 2, 3] * 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [67]:
np.repeat([1, 2, 3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [70]:
p = np.ones([2, 3], int)
p

array([[1, 1, 1],
       [1, 1, 1]])

In [71]:
np.vstack([p, 2*p])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

In [72]:
np.hstack([p, 2*p])

array([[1, 1, 1, 2, 2, 2],
       [1, 1, 1, 2, 2, 2]])

### Operations

In [77]:
x

array([1, 2, 3])

In [79]:
y

array([4, 5, 6])

In [80]:
x + y

array([5, 7, 9])

In [81]:
z = 1

In [82]:
x + z

array([2, 3, 4])

In [83]:
x * y

array([ 4, 10, 18])

In [84]:
x ** 2

array([1, 4, 9])

In [85]:
x.dot(y)

32

In [87]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

In [88]:
z.shape

(2, 3)

In [89]:
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

In [90]:
z.T.shape

(3, 2)

In [91]:
z.dtype

dtype('int64')

In [93]:
z = z.astype('f')
z.dtype

dtype('float32')

In [94]:
a = np.array([-4, -2, 1, 3, 5])

In [95]:
a.sum()

3

In [96]:
a.max()

5

In [97]:
a.min()

-4

In [98]:
a.mean()

0.59999999999999998

In [99]:
a.std()

3.2619012860600183

In [100]:
a.argmax()

4

In [101]:
a.argmin()

0

### Indexing / Slicing

In [102]:
s = np.arange(13)**2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144])

In [103]:
s[0], s[4], s[0:3]

(0, 16, array([0, 1, 4]))

In [104]:
s[1:5]

array([ 1,  4,  9, 16])

In [105]:
s[-4:]

array([ 81, 100, 121, 144])

In [106]:
s[-5:-2]

array([ 64,  81, 100])

In [107]:
s[-5::-2]

array([64, 36, 16,  4,  0])

In [108]:
r = np.arange(36)
r.resize((6, 6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [109]:
r[2, 2]

14

In [110]:
r[3, 3:6]

array([21, 22, 23])

In [111]:
r[:2, :-1]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

In [112]:
r[-1, ::2]

array([30, 32, 34])

In [113]:
r[r > 30]

array([31, 32, 33, 34, 35])

In [115]:
r[ r > 30] = 30
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [116]:
r2 = r[:3, :3]
r2

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

In [118]:
r2[:] = 0
r2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [119]:
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [120]:
r_copy = r.copy()
r_copy

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [125]:
r_copy[:] = 10
print(r_copy)
print()
print(r)

[[10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]]

[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 30 30 30 30 30]]


### Iterating Over Arrays

In [126]:
test = np.random.randint(0, 10, (4, 3))
test

array([[9, 3, 7],
       [1, 7, 8],
       [8, 9, 6],
       [4, 7, 1]])

In [127]:
for column in test:
    print(column)

[9 3 7]
[1 7 8]
[8 9 6]
[4 7 1]

In [128]:
for i in range(len(test)):
    print(test[i])

[9 3 7]
[1 7 8]
[8 9 6]
[4 7 1]

In [129]:
len(test)

4

In [130]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

row 0 is [9 3 7]
row 1 is [1 7 8]
row 2 is [8 9 6]
row 3 is [4 7 1]

In [131]:
test2 = test**2

In [132]:
['a', 'b', 'c'] + [1, 2, 3]

['a', 'b', 'c', 1, 2, 3]

In [133]:
type(lambda x:x+1)

function

In [136]:
r = np.arange(0, 36)
r.resize((6,6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [137]:
r[:,::7]

array([[ 0],
       [ 6],
       [12],
       [18],
       [24],
       [30]])

In [139]:
r[0:6,::-7]

array([[ 5],
       [11],
       [17],
       [23],
       [29],
       [35]])

In [140]:
r[::7]

array([[0, 1, 2, 3, 4, 5]])

In [142]:
r.reshape(36)[::7]

array([ 0,  7, 14, 21, 28, 35])

In [143]:
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [144]:
r[2:4, 2:4]

array([[14, 15],
       [20, 21]])